@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&family=Inter:wght@300;400;600&display=swap');

.App {
  background-color: #09090b;
  background-image:
    radial-gradient(circle at 15% 50px, rgba(234, 82, 248, 0.15), transparent 40%),
    radial-gradient(circle at 85% 80vh, rgba(0, 102, 255, 0.15), transparent 40%);
  color: #e4e4e7;
  font-family: 'Inter', system-ui, -apple-system, sans-serif !important;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif !important;
  text-transform: uppercase;
}